


.redtext {
    color: red;
    text-shadow: 1px 1px grey;
    font-family: 'MS UI Gothic';
    font-size: 24px;
}

.omahead {
    font-size: 24px;
    border-radius: 10px;
    background-color: rgba(35, 157, 201, 0.79);
    padding: 20px;
    width: auto;
    height: 78px;
    border-color: black;
    white-space: nowrap;
}

body {
    background-color: rgba(215, 115, 30, 0.06);
}

.grad {
    background-image: linear-gradient(to bottom right, red, yellow)!important;
}