@model TilausDB2.Models.Sivustolla_vierailijat

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lisätiedto</title>
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Vierailijat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vierailijat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Myynnit.Vuosi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Myynnit.Vuosi)
            </dd>
    
        </dl>
    </div>
    <p>
        <div class="row-cols-6"><a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);"><img src="~/Icons/arrow-left-circle.svg" width="24" height="24" /></a></div>
    </p>
</body>
</html>
