@model IEnumerable<TilausDB2.Models.Logins>

@{
    ViewBag.Title = "Käyttäjät";
    int nro = 0;
}
<body>
    <p></p>
    <a class="btn btn-primary btm-sm" href="/Logins/Create">Lisää käyttäjä</a>
    <p></p>
    <table class="table">
        <tr>
            <th>Rivi nro:</th>

            <th>@Html.DisplayNameFor(model => model.UserName)</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.UserName == Session["UserName"].ToString()) //suodattaa nykyisen käyttäjän pois luettelosta.
            {
                continue;
            }
            <tr>
                <td>@{ nro += 1;} @nro</td>

                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>

                    <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editoi" href="/Logins/Edit?id=@item.LoginId"><img src="~/Icons/pen.svg" width="12" height="12" /></a>

                    <a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Lisätiedot" href="/Logins/Details?id=@item.LoginId"><img src="~/Icons/three-dots.svg" width="12" height="12" /></a>

                    <a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Poista" href="/Logins/Delete?id=@item.LoginId"><img src="~/Icons/x-circle.svg" width="12" height="12" /></a>
                </td>

            </tr>
        }
    </table>
</body>